#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5
#define SCROLL 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <170>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        mouse_btn3 {
            bindings = <&mkp MB3>;
            key-positions = <17 18>;
            layers = <6>;
        };

        mouse_btn3_2 {
            bindings = <&mkp MB3>;
            key-positions = <35 36>;
            layers = <0 1>;
        };

        connect_mode {
            bindings = <&mo 9>;
            key-positions = <15 27>;
            layers = <0 1>;
        };

        zoom_std {
            bindings = <&kp LG(NUMBER_0)>;
            key-positions = <4 14 35>;
        };

        shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <37 38>;
            layers = <0 1>;
        };

        mo_symbol {
            bindings = <&mo 2>;
            key-positions = <39 40>;
            layers = <0 2>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        number_with_symbols: number_with_symbols {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 4 &mo 2>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 2 &mo 4>;

            label = "NUMBER_WITH_SYMBOLS";
        };

        mbt1_command: mbt1_command {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_COMMAND &mkp MB1>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mkp MB1 &kp LEFT_COMMAND>;

            label = "MBT1_COMMAND";
        };

        cursor_scroll: cursor_scroll {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&mo 7 &mo 3>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 3 &mo 7>;

            label = "CURSOR_SCROLL";
        };

        comma: comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp COMMA>;
            label = "COMMA";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        ht_rclk_mo: ht_rclk_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_RCLK_MO";
            #binding-cells = <2>;
            bindings = <&mo>, <&mkp>;

            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };

        mo_mkp: mo_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_MKP";
            #binding-cells = <2>;
            bindings = <&mo>, <&mkp>;

            tapping-term-ms = <170>;
            flavor = "balanced";
        };

        kp_num_sym: kp_num_sym {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_NUM_SYM";
            #binding-cells = <2>;
            bindings = <&number_with_symbols>, <&kp>;

            tapping-term-ms = <170>;
            flavor = "balanced";
        };

        kp_cursor_scroll: kp_cursor_scroll {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_CURSOR_SCROLL";
            bindings = <&cursor_scroll>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "balanced";
        };

        scroll_home_end: scroll_home_end {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <20>;
            label = "SCROLL_HOME_END";
            bindings = <&kp HOME>, <&kp PAGE_DOWN>;
        };

        scroll_pgup_pgdn: scroll_pgup_pgdn {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <20>;
            label = "SCROLL_PGUP_PGDN";
            bindings = <&kp PAGE_UP>, <&kp PAGE_DOWN>;
        };

        mo_tog: mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TOG";
            #binding-cells = <2>;
            bindings = <&mo>, <&tog>;

            tapping-term-ms = <170>;
            flavor = "balanced";
        };

        kp_mkp: kp_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_MKP";
            #binding-cells = <2>;
            bindings = <&kp>, <&mkp>;

            tapping-term-ms = <170>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp L           &kp U          &kp COMMA  &kp PERIOD                                                &kp F                      &kp W  &kp R  &kp Y  &kp P
&kp E      &kp I           &kp A          &kp O      &kp MINUS                               &mt GLOBE LC(UP)  &kp K                      &kp T  &kp N  &kp S  &kp H
&kp J      &kp X           &kp C          &kp V      &kp SLASH    &mt LEFT_ALT LANGUAGE_2    &lt 2 LANGUAGE_1  &kp G                      &kp D  &kp M  &kp Z  &kp B
&lt 8 ESC  &kp LEFT_SHIFT  &mo_mkp 5 MB2  &mkp MB1   &lt 2 SPACE  &kp_num_sym 0 TAB          &kp BACKSPACE     &kp_cursor_scroll 0 ENTER                       &mo_tog 6 1
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        qwerty {
            bindings = <
&kp Q                 &kp W   &kp E                     &kp R   &kp T                     &kp Y   &kp U  &kp I      &kp O    &kp P
&kp A                 &kp S   &kp D                     &kp F   &kp G             &trans  &kp H   &kp J  &kp K      &kp L    &kp MINUS
&kp Z                 &kp X   &kp C                     &kp V   &kp B   &trans    &trans  &kp N   &kp M  &kp COMMA  &kp DOT  &kp FSLH
&mt ESC LEFT_CONTROL  &trans  &kp_mkp LEFT_COMMAND MB2  &trans  &trans  &trans    &trans  &trans                             &trans
            >;
        };

        symbol {
            bindings = <
&kp EXCLAMATION  &kp CARET      &kp TILDE  &kp LESS_THAN  &kp GREATER_THAN                           &kp SINGLE_QUOTE   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp ASTERISK  &kp SLASH
&kp PERCENT      &kp AMPERSAND  &kp HASH   &kp AT_SIGN    &kp UNDERSCORE              &kp BACKSLASH  &kp DOUBLE_QUOTES  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS      &kp MINUS
&kp LA(Y)        &kp DOLLAR     &kp COLON  &kp SEMICOLON  &kp QUESTION      &trans    &kp PIPE       &kp GRAVE          &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp EQUAL     &kp SPACE
&trans           &trans         &trans     &trans         &trans            &trans    &trans         &trans                                                                        &trans
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        scroll_with_ball {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        number {
            bindings = <
&trans  &trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9                                 &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_ASTERISK  &kp KP_SLASH
&trans  &trans  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6                &kp KP_DOT       &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &kp KP_MINUS
&trans  &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT    &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_EQUAL     &comma
&trans  &trans  &kp KP_N0        &trans           &trans           &trans        &trans           &trans                                                              &kp SPACE
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        shortcut {
            bindings = <
&none      &none      &kp LG(LS(N3))  &kp LG(LS(N4))  &kp LG(PLUS)                                     &none          &none  &none  &none  &none
&kp LG(A)  &kp LG(S)  &none           &kp LG(F)       &kp LG(MINUS)                 &kp LG(LC(V))      &none          &none  &none  &none  &none
&kp LG(Z)  &kp LG(X)  &kp LG(C)       &kp LG(V)       &kp LG(B)      &mo 11         &none              &none          &none  &none  &none  &none
&none      &none      &none           &mbt1_command   &kp LG(SPACE)  &kp LG(TAB)    &kp LG(BACKSPACE)  &kp LG(ENTER)                       &none
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        mouse {
            bindings = <
&trans  &trans     &trans            &trans     &trans                    &trans  &trans    &trans    &trans    &trans
&trans  &trans     &trans            &trans     &trans            &trans  &trans  &trans    &trans    &trans    &trans
&trans  &kp LG(X)  &kp LG(C)         &kp LG(V)  &trans  &trans    &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans
&trans  &trans     &kp LEFT_COMMAND  &trans     &trans  &trans    &trans  &trans                                &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        cursor {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &kp LG(UP)    &kp LG(LEFT)    &kp UP_ARROW    &kp LG(RIGHT)    &trans
&trans  &trans  &trans  &trans  &trans            &trans  &kp LG(DOWN)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans          &trans          &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                         &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        control {
            bindings = <
&trans  &trans  &trans     &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LC(D)  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LC(C)  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        connect {
            bindings = <
&none  &none  &none  &to 1  &to 0                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none  &none  &none  &none  &tog 1           &none  &out OUT_BLE  &out OUT_USB  &none         &none         &none
&none  &none  &none  &none  &none   &none    &none  &none         &none         &none         &none         &bt BT_CLR
&none  &none  &none  &none  &none   &none    &none  &none                                                   &bt BT_CLR_ALL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        scroll_home_end {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp HOME END>;
        };

        scroll_cursor_lr {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
